*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(181, 248, 248);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px auto;
    top: 0%;
    left: 0%;
    padding-left: 2%;
    padding-bottom: 0px;
    width: 100%;
    
}
.box{
   
    background-color: rgba(97, 94, 94, 0.221);
    width: 550px;
    height: 250px;
    margin: 5% auto;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    border: 1px solid black;
    padding-top: 2%;
}
